
body{
    background-color: $bgColor;
    text-decoration: none;
    font-family: $textFamily, serif;
    font-style: normal;
    font-weight: normal;
    color: $commonText;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-items: center;
    flex-wrap:wrap ;
    h1,h2,h3{
        text-align: center;
        font-size: 2rem;
        margin-top: 80px;
        color:$wowText;
    }
    li{
        list-style-type: none;
    }
    a{
        text-decoration: none;
        color: map-get($colors, text);
        text-align: none;
        a:hover{
            color:$wowText !important;
        }
    }
    .hover-white:hover{
        background-color: $wowText !important;
        color:#555048;
        font-weight: 600;
    }
    
    hr{
        color:$commonText;
    }
}

@mixin icon ($width,$height){
    width:$width;
    height:$height;
}
#faceicon{
    @include icon(18px,auto);
}
#instaicon{
    @extend #faceicon;
}

